*__pycache__*
results/
data/stats/
config/default_config.yaml
tests/
pytest.ini
model_editing.egg-info/
nohup.out

# ignore all datasets other than RippleEdits
data/datasets/*
!data/datasets/RippleEdits/
!data/datasets/RippleEdits/**